.my-text-center {
    text-align: center !important;
    color: #fed136;
}
.margin-bottom-60 {
    margin-bottom: 60px !important;
}

#team{
    padding: 100px 0px !important;
}

.margin-bottom-35{
    margin-bottom: 35px !important;
}

.navbar-custom .navbar-brand{
    color: rgba(41, 128, 185,1.0) !important;
}

.btn-xl {
    color: white !important;
    background-color: rgba(41, 128, 185,1.0) !important;
    border-color: white !important;
}